@font-face {
    font-family: sanspro-elight;
    src: url(font/SourceSansPro-ExtraLight.otf.woff);
}

@font-face {
    font-family: Abel;
    src: url(font/SourceSansPro-ExtraLight.otf.woff);
}

body {
  background-color: #DDDDDD;
  font-family: sanspro-elight, sans-serif;
  margin: 0px;
}
header {
  text-align:center;
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url(img/header/jazz-classic-white.png);
  background-size: contain;
  background-repeat: no-repeat;
  color:white;
  background-color: white;
}
#headerimg{
      height:80px;
      width:100px;
      float:left;

      margin-left: 20px;
      vertical-align: middle;
}

#headertext{
      /*height:100px;*/
      color:#FBB43A;
      float:center;
      font-size: 40px;
      vertical-align: bottom;
}

#center {
    margin: auto;
    width: 1024px;
}
#menu {
  line-height: 50px;
  float: left;
  background-color: white;
  width: 334px;
  /*margin-top: 10px;*/
  padding-top: 20px;
  height: 1090px;
  text-align: center;
  background-color: #333333;
}

#menu a {
    display: block;
    text-decoration:none;
    font-weight: bold;
    font-family: ;
    color: #999999;
}
#menu a:hover{
      color: white;
}

a.one{

}
a.two{

}
a.three{


}

#section {
  background-color: #BBBBBB;
  width: 690px;
  float:right;
  margin-top: 0px;
  padding:0px;
}

#section img {
  width: 670px;
  padding: 10px;
}

form{
      padding-right: 20px;
      padding-left: 20px;
}
#TextField{
      width: 180px;
      height: 20px;
      float:right;
      height: 15px;
}
#ActionButton{
      width: 100px;
      float:right;
      margin-left: 20px;
}
#section table {
  width: 643px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
}

#section table td {
  width: 30%;
  padding-right:10px;
  vertical-align: top;
}

#section table img{
  width: 100%;
  padding:0px;
}

footer {
  width: 1024px;
  position: relative;
  display: inline-block;
}

#copyright {
  position: absolute;
  left: 0px;
  top: 10px;
}
#social {
  position: absolute;
  left: 970px;
  top: 10px;

}
#social img {
  height: 20px;
  width: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
