/* GENERAL CSS */

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@font-face {
    font-family: sanspro-elight;
    src: url(font/source-sans-pro/WOFF/OTF/SourceSansPro-ExtraLight.otf.woff);
}

@font-face {
    font-family: Abel;
    src: url(font/Abel-Regular.ttf);
}

body {
    background-color: #DDDDDD;
    font-family: sanspro-elight, sans-serif;
    margin: 0px;
}


/* HEADER CSS */


header {
    text-align:center;
    height: 140px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

img#headerimg {
    height: 120px;
    margin: 0 0 0 50px;
    padding: 0px;
    float: left;

}

h1#headertext{
    color:#FBB43A;
    font-size: 40px;
}


/* SECTION CSS */


/* MENU */

    /* general */

.menu {
    float: left;
    padding-top: 20px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    background-color: #333333;
}

ul#menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    /* links */

ul#menu-list a {
    display: block;
    text-decoration:none;
    font-weight: bold;
    font-family: Abel;
    color: #999999;
}

ul#menu-list a:hover {
    color: white;
    font-weight: bold;
    text-decoration: overline;
}

    /* screen adaptation */

@media only screen and (min-width:768px){
    .menu{
        height: 1420px;
        line-height: 100px;
    }
}

@media only screen and (min-width:600px) and (max-width:767px){
    .menu{
        height:auto;
    }
    ul#menu-list a{
        float:left;
        width:25%;
        border-left: 0.5px solid white;
        border-right: 0.5px solid white;
    }
    ul#menu-list li{
        display:inline;
    }
}


/* RIGTH SECTION */

    /* general */

div#section {
    float:right;
    margin-top: 0px;
    padding:0px;
}

    /* top image */

img#top-image {
    padding: 30px;
}

    /* formulary */

form#section-form {
    padding: 0 30px;
    margin-top: 10px;
    overflow: hidden;
}

input#action-button{
    width: 85px;
    float:right;

}

input#text-field{
    width: 130px;
    float:right;
}

    /* descriptions */

div#desc-wrap { /* helps aligning the texts with the rest
                of the elements in the right section */
    padding: 25px;
}

div.topic {
    padding: 5px;
    text-align: justify;
}

img.topic-image{
    width:100%;
}



/* FOOTER CSS */

    /* general */

footer {
    width: 1024px;
    display: inline; /* to put everything in the same line */
}

    /* copyright info */

div.copyright {
    width: 157px;
    float:left;
    padding: 15px;
    line-height: 25px;
}

    /* social links */

div.social {
    padding: 30px;
    width: 140px;
    float: right;
}

div.social img {
    float:right;
    height: 25px;
    width: 25px;
}

div.social img:hover {
    opacity: 0.5;
}
