@font-face {
    font-family: sanspro-elight;
    src: url(font/source-sans-pro/WOFF/OTF/SourceSansPro-ExtraLight.otf.woff);
}
/* SourceSansPro- ( Black / [Extra]Light / Regular / Bold / Semibold ) [It]*/

@font-face {
    font-family: Abel;
    src: url(font/Abel-Regular.ttf);
}

body {
  background-color: #DDDDDD;
  font-family: sanspro-elight, sans-serif;
  margin: 0px;
}
header {
  text-align:center;
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url(img/header/jazz-classic-white.png);
  background-size: contain;
  background-repeat: no-repeat;
  color:white;
  background-color: white;
}
#headerimg{
      height:80px;
      width:100px;
      float:left;

      margin-left: 20px;
      vertical-align: middle;
}

#headertext{
      /*height:100px;*/
      color:#FBB43A;
      float:center;
      font-size: 40px;
}

#center {
    margin: auto;
    width: 1024px;
}
#menu {
  line-height: 100px;
  font-size: 20px;
  float: left;
  background-color: white;
  width: 334px;
  padding-top: 20px;
  height: 1280px;
  text-align: center;
  background-color: #333333;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu a {
    display: block;
    text-decoration:none;
    font-weight: bold;
    font-family: Abel;
    color: #999999;
}
#menu a:hover{
      color: white;
      font-weight: bold;
}

#section {
  background-color: #BBBBBB;
  width: 690px;
  float:right;
  margin-top: 0px;
  padding:0px;
}

#topimage{
    width: 630px;
    height: 350px;
    margin:30px;
}
.down{
    padding:0px;
    height:220px;
    width: 100%;
}

form{
    padding-right: 30px;
    padding-left: 30px;
    margin: auto;
    padding-bottom: 5px;
}
#TextField{
      width: 180px;
      float:right;
}
#ActionButton{
    margin: 1px;
      width: 100px;
      float:right;
      margin-left: 20px;
}
#section table {
  width: 643px;
  text-align: justify;
  margin: auto;
}

#section table td {
  width: 30%;
  vertical-align: top;
  padding-left:5px;
  padding-right: 5px;
}

footer {
  width: 1024px;
  position: relative;
  display: inline-block;
}

#copyright {
  position: absolute;
  left: 0px;
  top: 10px;
}
#social {
  position: absolute;
  left: 970px;
  top: 10px;

}
#social img {
  height: 20px;
  width: 20px;
}
