/* GENERAL CSS */

* {
    box-sizing: border-box;
}

@font-face {
    font-family: sanspro-elight;
    src: url(font/source-sans-pro/WOFF/OTF/SourceSansPro-ExtraLight.otf.woff);
}
/* SourceSansPro- ( Black / [Extra]Light / Regular / Bold / Semibold ) [It]*/

@font-face {
    font-family: Abel;
    src: url(font/Abel-Regular.ttf);
}

body {
    background-color: #DDDDDD;
    font-family: sanspro-elight, sans-serif;
    margin: 0px;
}

/* HEADER CSS */


header {
    text-align:center;
    height: 100px;
    padding:20px;
    background-image: url(img/header/jazz-classic-white.png);
    background-size: contain;
    background-repeat: no-repeat;
    color:white;
    background-color: white;
}

img#headerimg{
    height:100%;
    width:100px;
    float:left;
    margin:auto;
    display:block;
}

h1#headertext{
    color:#FBB43A;
    float:center;
    font-size: 40px;
    margin:auto;
    display:block;
}


/* SECTON CSS */


div#wrap {
    margin: auto;
    width: 1024px;
}

/* MENU */

div#menu {
    line-height: 100px;
    font-size: 20px;
    float: left;
    background-color: white;
    width: 33%;
    padding-top: 20px;
    height: 1279px;
    text-align: center;
    background-color: #333333;
}

ul#menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul#menu-list a {
    display: block;
    text-decoration:none;
    font-weight: bold;
    font-family: Abel;
    color: #999999;
}

ul#menu-list a:hover {
    color: white;
    font-weight: bold;
}

/* RIGTH SECTION */

div#section {
    background-color: #BBBBBB;
    width: 67%;
    float:right;
}

img#top-image {
    width: 100%;
    padding:10px;
}

form#section-form {
    padding-right: 30px;
    padding-left: 30px;
    margin: auto;
    padding-bottom: 5px;
}

input#ActionButton{
    margin: 1px;
    width: 100px;
    float:right;
    margin-left: 20px;
}

input#TextField{
    width: 180px;
    float:right;
}
img.topic-image{
    width:205px;
    height:220px;
    margin:auto;
    display:block;
}
div.topics{
    text-align: justify;
    width:33%;
    float:left;
    padding:10px;

}
div#section h2 {
    text-align: center;
    font-weight: bold;
}
div#section{
    padding:10px;
}


/* FOOTER CSS */


footer {
    width: 100%;
    position: relative;
    display: inline-block;
}

div#copyright {
    position: absolute;
    left: 0px;
    top: 10px;
}

div#social {
    position: absolute;
    left: 935px;
    top: 6px;
}

div#social img {
    height: 25px;
    width: 25px;
}
